@model ByteBank.Forum.ViewModels.ContaVerificacaoDoisFatoresViewModel
@{
    ViewBag.Title = "VerificacaoDoisFatores";
}

<h2>Verificacao de sms</h2>

@Html.ValidationSummary(); 

@using (Html.BeginForm())
{
    @Html.ValidationSummary();
    @Html.EditorForModel();    
    <input type="submit" value="Enviar!" />
}

